@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Rubik:wght@500&display=swap');
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
*::selection {
  background-color: #fff;
  color: #95c11e;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: #000;
}
*::-webkit-scrollbar-thumb {
  background-color: #ace022;
  border-radius: 50px;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  transition: all linear 0.1s;
}
#cursor-blur {
  height: 400px;
  width: 400px;
  /* background-color: #96c11e3c; */
  background-color: rgba(150, 193, 30, 0.3);
  border-radius: 50%;
  position: fixed;
  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.1s;
}

#nav {
  height: 145px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 0 150px;
  z-index: 100;
  position: fixed;
}
#nav img {
  height: 75px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  transition: all linear 0.3s;
}
#nav h4:hover {
  cursor: pointer;
  color: #000;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 140px;
  font-weight: 900;
  /* text-shadow: 2px 2px #ff0000; */
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1.5px #95c11e;
  /* text-shadow: -2px 0px #95c11e; */
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 20px;
  font-weight: 500;
  width: 50%;
}
#page1 #arrow {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: 2px solid #95c11e;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2%;
  bottom: 0%;
  z-index: 100;
  transition: all ease 0.5s;
}
#page1 #arrow i {
  font-size: 50px;
  font-weight: 800;
}
#page1 #arrow:hover {
  scale: 0.4;
  background-color: #95c11e;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow: auto hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}

.scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;
  margin-right: 10px;
  color: transparent;
  -webkit-text-stroke: 2px #95c11e;
  user-select: none;
  transition: all linear 0.5s;
}

#scroller h4:hover {
  color: #95c11e;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}

#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 54px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 26px;
}

#card-container {
  /* background-color: red; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  z-index: 10;
}
.card {
  height: 80%;
  width: 27%;
  /* background: blue; */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}
#card1 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  padding: 22px;
  padding-top: 100px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: #000;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 10px;
}
.overlay p {
  color: #000;
  margin-bottom: 10px;
  font-size: 12px;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 15deg);
}

#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  background: linear-gradient(to left bottom, #119f3a, #ace022 60%);
}

#green-div h4 {
  width: 45%;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  color: #000;
  font-weight: 800;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}
#green-div :first-child {
  transform: rotateY(180deg);
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 > p {
  font-size: 30px;
  font-weight: 700;
  width: 60%;
  text-align: center;
  line-height: 45px;
  z-index: 10;
}
#page3 img {
  position: absolute;
  height: 60px;
}
#page3 #quote1 {
  top: 25%;
  left: 15%;
}
#page3 #quote2 {
  bottom: 30%;
  right: 15%;
}
#page4 {
  height: 30vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
}
.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  color: #000;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}

#page4 h1 {
  position: absolute;
  font-size: 90px;
  top: -25%;
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
  font-family: gilroy;
  -webkit-text-stroke: 2px #fff;
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
  transition: all ease 0.5s;
}
#f2 h3:hover,
#f3 h3:hover {
  cursor: pointer;
  color: #fff;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
